.wrap-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.copyright{
    p{
        color: grey;
        padding: 8px 0px;
    }
}