.upload{
    margin-top: 20px;
    margin-bottom: 20px;

    .preview{
       
        width: auto;
        height: 400px;
        object-fit: cover;
        display: block;
        margin-bottom:16px ;
        border-radius: 16px;
    }
}