.button{
    padding: 12px;
    font-size: 16px;
    background-color: #8ADAB2;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: #DF826C;
}