.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: black;
    height: 15px;
    .logo-app{
font-size: 15px;
color: white;
margin: 0px;
    }
    .menu-item{
        font-size: 18px;
        color: white;
        margin-top: 16px;
        cursor: pointer;
    }
}